<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %>
<ul>
  <li>
    <a href="https://www.linkedin.com/in/deepesh-kumar-49a192162/"><b>linkedin Profile</b></a>
    </li>
    <li>
      <a href="https://www.naukri.com/mnjuser/profile?id=&orgn=homepage"><b>naukri.com Profile</b></a>
      </li>
      <li>
        <a href="https://www.instagram.com/deepesh6994/"><b>instagram Profile</b></a>
        </li>
        <li>
          <a href="https://twitter.com/Deepesh17338931"><b>twitter Profile</b></a>
          </li>

  </ul>




    </p>


<%- include("partials/footer"); -%>
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">PERSONAL WEBSITE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">EDUCATION DETAIL</a></li>
          <li ><a href="#footer">CONTACT ME</a></li>
          <li id="contact"><a href="/compose">COMPOSE HERE</a></li>
            <li id="quotes"><a href="/quotes">QUOTES</a></li>

        </ul>
    </div>
  </nav>
  <nav class="navbar  navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="">tindog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li  id="home"class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li id="about" class="nav-item">
          <a class="nav-link" href="/about">Education Detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact Me</a>
        </li>
        <li id="contact" class="nav-item">
          <a class="nav-link" href="/compose">Compose Here</a>
        </li>
        <li  id="quotes"class="nav-item">
          <a class="nav-link" href="/quotes">Quotes</a>
        </li>
      </ul>
    </div>
  </nav>
